.root {
	-fx-background-color: #e8e8e8;
	-fx-padding: 20;
}
Text {
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-fill: #555;
	-fx-stroke-width: 2;
	-fx-text-transform: uppercase;
}
FlowPane {
	-fx-padding: 30;
}
HBox Button {
	-fx-display: inline-block;
	-fx-padding: 10;
	-fx-border-radius: 15;
	-fx-background-color: #333;
	-fx-text-fill: white;
	-fx-letter-spacing: 2;
}
FlowPane Button {
	-fx-padding: 20;
	-fx-font-size: 18;
	-fx-font-size: 20;
	-fx-background-radius: 5em;
	-fx-background-color: white;
	-fx-border-color: #777;
	-fx-border-width: 3;
	-fx-border-radius: 5em;
}